<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>关于&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="//cdn.nanfeng.hejianpeng.cn/css/main.css" type="text/css"/>
	<style>
		body{background-color: rgb(243,243,243)}
		.k{position: relative;background-color: #fff;width: 100%;height: 13vw;line-height: 13vw;font-size: 4.5vw;color: #777;text-indent: 5vw;margin: 0.5vw 0;top: 9vw;}
		.k span{position: absolute;display: block;right: 5vw;top: 0}
		#logo{ height: 50vw;margin: 2vw 0;text-align: center}
		#logo img{height: 40vw;margin: 5vw}
		#bq{position: absolute;bottom: 0;width: 100%;font-size:3vw;text-align: center;color: #555}
		#bq a{color: inherit}
	</style>
</head>

<body>
	<div id="logo" class="k">
		<img src="//cdn.nanfeng.hejianpeng.cn/images/logo.png" alt=""/>
	</div>
	<a href="tel:18028309786" class="k">客服电话<span>18028309786</span></a>
	<a href="mailto:491851674@qq.com" class="k">客服邮箱<span>491851674@qq.com</span></a>
	<div id="bq">
		<a target="new" href="https://www.zdnfjx.cn">Powered by 计算机协会</a><br>
		Copyright © 2018 南风共享. All rights reserved 
	</div>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/pengge_tools.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/head.js"></script>
<script type="text/javascript">head(["关于"]);window.onload = function() {choose(0,true);}</script>
</body>
</html>
