<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>我的&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/user_goods.css" type="text/css"/>
</head>
<body></body>
<script type="text/javascript" src="/static/js/pengge_tools.js"></script>
<script type="text/javascript" src="/static/js/head.js"></script>
<script type="text/javascript" src="/static/js/user_goods.js"></script>
</html>