<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>主页&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="http://cdn.nanfeng.hejianpeng.cn/css/main.css" type="text/css"/>	
<link rel="stylesheet" href="http://cdn.nanfeng.hejianpeng.cn/css/index.css" type="text/css"/>	
</head>
<body>
<div id="notice" name="svg">
	<a target="new"></a>
	<a target="new"></a>
</div>
<div id="goods_type" class="card">
	<table border="0">
  <tbody>
    <tr>
      <td onClick="chare_type(1)"><b name="svg" style="background-color: rgb(246,124,108)"></b><br>图书</td>
      <td onClick="chare_type(2)"><b name="svg" style="background-color: rgb(88,176,248)"></b><br>数码</td>
      <td onClick="chare_type(3)"><b name="svg" style="background-color: rgb(104,210,193)"></b><br>日用</td>
      <td onClick="chare_type(4)"><b name="svg" style="background-color: rgb(164,123,243)"></b><br>服饰</td>
    </tr>
    <tr style="height: 6vw"></tr>
    <tr>
      <td onClick="chare_type(5)"><b name="svg" style="background-color: rgb(104,210,193)"></b><br>妆品</td>
      <td onClick="chare_type(6)"><b name="svg" style="background-color: rgb(164,123,243)"></b><br>零食</td>
      <td onClick="chare_type(7)"><b name="svg" style="background-color: rgb(246,124,108)"></b><br>运动</td>
      <td onClick="chare_type(0)"><b name="svg" style="background-color: rgb(88,176,248)"></b><br>全部</td>
    </tr>
  </tbody>
</table>
</div>
</body>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/pengge_tools.js"></script>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/bar.js"></script>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/pic_ad.js"></script>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/search_layer.js"></script>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/get_goods.js"></script>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/index.js"></script>

</html>
