<!DOCTYPE html>
<html>
<head>
    <script src="http://vuejs.org/js/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="http://unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="app">
    <row v-bind:style="{height:'60px',background:'#000',width:'100%'}">

    </row>
    <row>
        <i-table border :columns="columns" :data="lis"></i-table>
    </row>
    <row v-bind:style="{height:'60px',background:'#fff',width:'100%'}">
        <i-button v-bind:style="{float:'right',marginTop:'20px',marginRight:'20px'}" v-on:click="tro = true"
                  type="primary">添加数据
        </i-button>
    </row>
    <modal
            v-model="tro"
            title="Common Modal dialog box title"
            @on-ok="addData"
    >
        <div id="模板" style="float:right;width:250px;height:100%"></div>
        <i-input v-model="content" placeholder="内容" clearable style="width: 200px"></i-input>
        <br/><br/>
        <br/><br/>


    </modal>
</div>


<script>
    let vue = new Vue({
        el: '#app',
        data: {

            content: '',

            tro: false,
            columns: [{title: '内容', key: 'content'}],
            lis: [{content: ''}]
        },
        methods: {
            getData(){
                this.lis = [{content: ''}];
                Vue.http.get(allurl + '/front/notice/get').then((response) => {

                    this.lis[0].content = response.bodyText;
                });
            },
            addData(pic = null, links = null){

                let content = this.content;

                Vue.http.post(allurl + '/front/notice/set', {content}, {emulateJSON: true}).then((response) => {
                    if (response.bodyText == 'success') {
                        alert(response.bodyText);
                        this.getData();
                    }
                });


            }

        }


    });
    let allurl = ''; //http://api.nanfeng.hejianpeng.cn
    vue.getData();
</script>
</body>
</html>
