<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>管理员列表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="static/css/font.css">
		<link rel="stylesheet" href="static/css/weadmin.css">
                <script src="static/js/jquery.js"></script>
                <script src="static/js/layui.js" type="text/javascript" charset="utf-8"></script>
                <script src="static/js/list.js" type="text/javascript" charset="utf-8"></script>




<script src="static/js/vue"></script>
<script src="static/js/vue-resource@1.3.4"></script>
<script src="static/js/lodash.min.js"></script>
<style>
    .readonly{
        max-width: 150px;
    }
</style>

         
        
          <script src="static/js/controlAdmin.js" charset="utf-8"></script>
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
            <div id='data' style="margin-bottom:400px;">
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">管理员管理</a>
        <a>
          <cite>管理员列表</cite></a>
      </span>
                    
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:30px">ဂ</i></a>
		</div>
		<div class="weadmin-body">
			<!-- <div class="layui-row">
				<form class="layui-form layui-col-md12 we-search">
					<div class="layui-inline">
						<input class="layui-input" placeholder="开始日" name="start" id="start">
					</div>
					<div class="layui-inline">
						<input class="layui-input" placeholder="截止日" name="end" id="end">
					</div>
					<div class="layui-inline">
						<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
				</form>
			</div> -->
			<div class="weadmin-block">
                            <!--<input class="layui-input" id="thetype" v-model="type"  style="max-width: 100px;display: inline-block" placeholder="输入类型">-->
				<!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button> -->
				<!--<a ><button class="layui-btn" onclick="a.ve.page = 1;a.addcontents(a.ve.getU,{page:a.ve.page,type:a.ve.type})">确定</button></a> -->
				<!--<span class="fr" style="line-height:40px">共有数据：？ 条</span> -->
                                <button v-if="groupIF" class="layui-btn" v-on:click="lis.push({})"><i class="layui-icon"></i>添加空白数据</button>
                                <button v-if="groupIF" v-on:click='groupIF = !groupIF' onclick="$('.readonly').removeAttr('readonly');" class="layui-btn layui-btn-danger" >编辑开启</button>
                                <button v-if="!groupIF" v-on:click='groupIF = !groupIF' onclick="$('.readonly').attr('readonly','readonly');" class="layui-btn layui-btn-danger" >关闭编辑</button>
                                <span>tips:1.不要随便添加空白数据！</span>
			</div>
			<table class="layui-table">
				<thead>
					<tr>
					<!--	<th>
							<div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
						</th> -->
						<th>广告ID</th>
						<th>标题</th>
                                                <th>内容</th>
                                                <th>图片</th>
						<th>日期</th>
						<th>权力</th>
						<th>超链接</th>
                                                <th>操作</th>
				</thead>
				<tbody>
					<tr v-for="li in lis">
					<!--	<td>
							<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
						</td> -->
                                                <td class="mylis" style="max-width:150px;">
                                                    <span>{{li.aid}}</span>
                                                </td>
                                                <td class="mylis" >
                                                    <input class="readonly"  v-model='li.title' readonly>
                                                </td>
                                                <td class="mylis" style="max-width:150px;" >
                                                    <div  style="max-width:100px;max-height: 20px;overflow: hidden;" >{{li.content}}</div><span v-if="!groupIF" onclick="$(this).parent().find('.as').css('display','inline')"  class="layui-btn layui-btn-normal layui-btn-xs" >详情</span>
                                                    <div class="as" style="width:1px;height:1px;background-color: #fff;display: none" >
                                                    <div style="position: absolute;top:20%;background-color: #fff;min-width:630px;">
                                                        <table>
                                                            <td style="z-index:999;background-color: #fff;min-width:315px;"> <textarea style=";background-color: #fff;" v-model="li.content"></textarea><span onclick="$(this).parent().parent().parent().parent().parent().parent().css('display','none')" class="layui-btn layui-btn-normal layui-btn-xs">关闭</span></td>
                                                            <td style="z-index:999;background-color: #fff;min-width:315px; " v-html="li.content" align="left" valign="top"></td>
                                                        </table>
                                                    </div>
                                                        </div> 
                                                </td>
                                               <td class="mylis" >
                                                    <input class="readonly"  v-model='li.pic' readonly>
                                                </td>
                                                <td class="mylis" >
                                                    <span v-on:click="">{{myDate(li.releaseTime)}}</span>
                                                </td>
                                                <td class="mylis" >
                                                    <input class="readonly"  v-model='li.power' readonly>
                                                </td>
                                                <td class="mylis" >
                                                    <input class="readonly" v-model='li.link' readonly>
                                                </td>
						
						
						<td class="mylis" style="min-width: 270px;">
							
                                                    <template v-show="!groupIF"><button   v-on:click="updateORadd(editU,li)" onclick="$(this).css('display','none');$(this).parents('.mylis').children('.jl').css('display','none')" class="layui-btn" >确定</button></template>
                                                       <!-- <span v-else class="layui-btn layui-btn-danger"  onclick="console.log('?')"  v-on:click="updateORadd(editU,li)">呵呵啊</span> -->
							<button v-if="li.aid"  class="layui-btn layui-btn-danger" onclick="$(this).parent().parent().hide()" v-on:click="updateORadd(deleteU,{aid:li.aid})"><i class="layui-icon"></i>删除</button>  <!--传个东西进去-->
                                                      <template v-if="!li.aid" >  <button  class="layui-btn layui-btn-danger jl" onclick="$(this).parent().parent().hide()" ><i class="layui-icon"></i>删除</button> </template>
                                                     <!--  <button  onclick="$('#rp').css('display','inline')" v-on:click="addcontents(getcontentsU,{newsId:li.nid,page:0})"  class="layui-btn" >回复查看</button> --> <!--注意下是nid还是pid-->
                                                        
						</td>
					</tr>
                                        
				</tbody>
			</table>
			
		</div>

                <div style="position: fixed;margin-top: 4%;top:0%;width:100%;height:84%;display: none" id="rp">
                    <div style="background-color: #fff;margin:0 auto;max-width:600px;height:100%;overflow-y: scroll;">
                        <span onclick="$('#rp').css('display','none')" style="float:right">关闭</span><br/>
                        <ul>
                            <li style="width: 100%;background-color: #ffffff;"  v-for = '(li,index) in contents' v-bind:key="index">
                <ul style="width: 94%;margin-left: 3%;margin-right: 3%">
                    <li style="width:100%;height: 60px;"><img style="border-radius: 25px;border: none;height: 50px;width: 50px;float: left;" v-bind:src="'http://pic.zdnfbbs.cn/'+li.head_pic" alt="头"><div style="width:120px;height:50px;display: inline-block;"><p style="margin-top:14px;margin-left: 10px;font-size:12px">{{li.nick_name}}</p><p style="margin-top:7px;font-size:12px;margin-left: 10px;color:#bababa">{{ index+2+'楼'}}</p><span style="color:red;float:right" class="tete"  v-on:click="deletecontents(deletecontentsU,{id:li.newsId},this)" onclick="$(this).parent().parent().parent().parent().hide();">点击删除该楼</span></div></li><!--这让我怎么填哦-->
   
  <li style="width:100%;min-height: 50px;font-size: 14px;text-indent:  2em;white-space:normal;word-break:break-all;word-wrap:break-word;">{{li.content}}</li>
  <li style="width:100%;height: 20px"><span style="font-size:12px;float: right;margin-right: 5px;color:#bababa">{{myDate(li.release_time)}}</span></li>
  </ul>
                
            </li>
                        </ul>
                    </div>
                </div>
        </div>
             <script>
            let data,methods;
            
            data ={
                getU:'public/ad/get-all',
                deleteU:'public/ad/deleted',
                deletecontentsU:'no',
                addU:'public/ad/add',
                editU:'public/ad/update',
                getcontentsU:'public/newsReply/get-by-page',
                groupIF:true,
                
                type:0
            };
            methods={
                updateORadd(url,p){
                    
                    if(p.aid){
                         Vue.http.get(allurl+url,{params:p}).then(  (response) => {alert(response.bodyText);});
                    }else{
                         url = this.addU;
                         if(p.content ||p.title)
                         Vue.http.get(allurl+url,{params:p}).then(  (response) => {if(response.bodyText=='success')alert(response.bodyText);});
                     
                    }

    },
               myDate(ydate){
                    var date = new Date(ydate);var y = date.getFullYear();   var m = date.getMonth() + 1;  m = m < 10 ? ('0' + m) : m;  var d = date.getDate();  d = d < 10 ? ('0' + d) : d;  var h = date.getHours();  h=h < 10 ? ('0' + h) : h;  var minute = date.getMinutes();  minute = minute < 10 ? ('0' + minute) : minute;  var second=date.getSeconds();  second=second < 10 ? ('0' + second) : second;  return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;  
                },
                addcontents(url,p){
        Vue.http.get(allurl+url,{params:p}).then(  (response) => {
            let f =  eval("("+response.bodyText+")");
            f.forEach( (data) => {  this.contents.push(data);  }  );
            if(f[0]){alert('没有了');}else{ this.addcontents(url,++p) }
        });
    },
    deletecontents(url,p,tmp = null){
                                 Vue.http.get(allurl+url,{params:p}).then(  (response) => {alert(response.bodyText);});
                                 

    }
                
};
            
            let a = new admin(data,methods);
            a.addlis(data.getU,{});
        </script>
        
   

        
	</body>

</html>