<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>上传</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
<script src="https://cdn.bootcss.com/lodash.js/4.17.3/lodash.min.js"></script>
    </head>
    <body>


        <div><span>标题：</span><input id='A' /></div>
        <div><span>类型：</span>
            <input type="text"  id='B' placeholder='请输入数字 1-7' onkeypress="return event.keyCode>=49&&event.keyCode<=54" ng-pattern="/[^a-zA-Z]/" /></div>
        <div><span>是否置顶：</span>
            <input type="text"  id='C' placeholder='0是否 1是置顶' onkeypress="return event.keyCode>=48&&event.keyCode<=49" ng-pattern="/[^a-zA-Z]/" /></div>
        <div><span>内容：</span></div>
      <div id="div1"></div>
       <button id="btn1" onclick="ul()">提交(图片上传可能比较久，无需多次按请等待)</button>
                     <div id='myshow' style='width:100%;height:80%;position: fixed;top:7%;z-index: 999;display:  none'>
                <div style='margin:0 auto;width:100px;height: 100px'>
                   上传中...
                </div>
</div>
        <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
                <script>
            "use strict";
var img_arr=[];
function img_upload(h,n,j,k){k=k||0;var m=h[k].src.split(",")[1]; var i=function(a){var c;if(a.indexOf("=")>0){var b=a.indexOf("=");a=a.substring(0,b)}c=parseInt(a.length-(a.length/8)*2);return c};var g="http://upload-z2.qiniu.com/putb64/"+i(m);var l=new XMLHttpRequest();l.onreadystatechange=function(){if(l.readyState==4){img_arr[k]=JSON.parse(l.responseText).key;k++;if(k>=h.length){j(img_arr)}else{img_upload(h,n,j,k)}}};l.open("POST",g,false);l.setRequestHeader("Content-Type","application/octet-stream");l.setRequestHeader("Authorization","UpToken "+n);l.send(m)};

        </script>
        <script>
    var E = window.wangEditor;
    var editor = new E('#div1');
    editor.customConfig.uploadImgShowBase64 = true ;  // 使用 base64 保存图片
    editor.create();
        </script>
        <script>
            var allurl = '';
            var c = null;
            function ul(){
            if(  parseInt(document.getElementById('B').value)<9 ){
                
              
                 $('#myshow').show();   
                                if(document.getElementsByTagName('img').length !== 0){
                        var promiseGroup = [],lg = document.getElementsByTagName('img').length;
                        for(let i =0;i<lg;i++){
                            let a = new Promise(function(re,rj){
                                
                                Vue.http.post(allurl+'public/pic/token',{fileName:Math.random()}, {emulateJSON: true}).then(  (response) => {
                        img_upload(document.getElementsByTagName('img'),response.bodyText,function(data){ 
           
                            document.getElementsByTagName('img')[i].src = 'http://pic.zdnfbbs.cn/'+data[i];
               re('success');                    
    },i); });
                            });
                            promiseGroup.push(a);
                            
                        }
                        
                        Promise.all(promiseGroup).then(function(){ 
                                                   Vue.http.get(allurl+'admin/news/add',{params:{isTop:document.getElementById('C').value,title:document.getElementById('A').value,content:editor.txt.html(),classification:document.getElementById('B').value}}).then(  (response) => {
            $('#myshow').hide();                                          
            alert(response.bodyText);
               window.parent.document.getElementById('flash').click();                              
        });           
         
  
                        });
                        
                    }else{
                     
                       // window.opener.document.getElementById('flash').click();
                                                        Vue.http.get(allurl+'admin/news/add',{params:{isTop:document.getElementById('C').value,title:document.getElementById('A').value,content:editor.txt.html(),classification:document.getElementById('B').value}}).then(  (response) => {
            $('#myshow').hide();                                                    
        alert(response.bodyText);
          window.parent.document.getElementById('flash').click();                                                
    });           

      /*  editor.txt.html();
    Vue.http.get(allurl+'admin/news/add',{params:{nid:p.nid}}).then(  (response) => {alert(response.bodyText);});   */   
                   
                    // alert(parent.window.a.ve.lis.push({}));
                    }
                    
                    } else{
                        alert('请输入1-7的数字');
                    }
                    }
                    
               

            </script>
    </body>
</html>
