<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>我的消息&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="//cdn.nanfeng.hejianpeng.cn/css/main.css" type="text/css"/>	
<link rel="stylesheet" href="//cdn.nanfeng.hejianpeng.cn/css/my_message.css" type="text/css"/>
</head>
<body></body>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/pengge_tools.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/head.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/my_message.js"></script>
</html>