<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>发布&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="//cdn.nanfeng.hejianpeng.cn/css/release.css" type="text/css"/>	
</head>
<body>
	<a id="layer" target="new" href="sign_in"></a>
	<div id="layer1"><img src="//cdn.nanfeng.hejianpeng.cn/images/loading.gif" alt=""/></div>
	<div id="choose">
		<span style="left: 20vw" onClick="choose(true,this) ">发布闲置</span>
		<span style="right:20vw" onClick="choose(false,this)" class="un">发布需求</span>
	</div>
	<p class="card" style="margin-top: 15vw"></p>
	<div id="title" class="card">
		<input type="text" placeholder="请输入标题" maxlength="60">
	</div>
	<div id="content" class="card">
		<textarea placeholder="请输入物品描述" maxlength="600"></textarea>
		<div id="add_pic">
			<div>
				<input id="upload" type="file" accept="image/*" />
			</div>
			<span>添加图片</span>
			<svg viewBox="0 0 1024 1024">
				<path fill="#ddd" d="M512 0.001287c-282.769282 0-511.998713 229.229431-511.998713 511.998713 0 282.769282 229.229431 511.998713 511.998713 511.998713 282.767995 0 511.998713-229.228144 511.998713-511.998713C1023.998713 229.230718 794.767995 0.001287 512 0.001287zM748.560448 544.492778 542.994656 544.492778l0 205.560645c0 17.279887-13.946437 31.226324-31.221176 31.226324-17.279887 0-31.226324-13.946437-31.226324-31.226324L480.547156 544.492778l-205.559357 0c-17.279887 0-31.226324-13.946437-31.226324-31.226324s13.946437-31.226324 31.226324-31.226324l205.666182 0 0-205.559357c0-17.279887 13.94515-31.226324 31.219889-31.226324 17.279887 0 31.226324 13.946437 31.226324 31.226324L543.100194 482.041417l205.560645 0c17.17435 0 31.120786 13.946437 31.120786 31.226324S765.835188 544.492778 748.560448 544.492778z" />
			</svg>
		</div>
	</div>
	<div id="goods_type" class="card">
		<select>
			<option style="display: none">请选择物品类型</option>
			<option>图书</option>
			<option>数码</option>
			<option>日用</option>
			<option>服饰</option>
			<option>妆品</option>
			<option>零食</option>
			<option>运动</option>
		</select>
	</div>
	<div id="condition" class="card">
		<select>
			<option style="display: none">请选择物品成色</option>
			<option>全新</option>
			<option>轻微磨损</option>
			<option>九成新</option>
			<option>八成新</option>
			<option>七成新</option>
			<option>六成新</option>
		</select>
	</div>
	<div id="price" class="card">
		<input type="text" maxlength="10" placeholder="请输入期待卖出的价格" onkeyup="num(this)" onafterpaste="num(this)">
		<span>元</span>
	</div>
	<input id="post" class="card" type="button" value="发&nbsp;&nbsp;&nbsp;布">
	<p class="card" style="margin-top: 50vw"></p>
</body>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/pengge_tools.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/img_upload.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/bar.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/release.js"></script>
</html>