<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>登录&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="http://cdn.nanfeng.hejianpeng.cn/css/sign.css" type="text/css"/>
</head>
<body>
	<div class="card" style="margin-top: 16vw">
		<input id="user" type="text" placeholder="请输入账号" maxlength="60">
	</div>
	<div class="card">
		<input id="pwd" type="password" placeholder="请输入密码" maxlength="60">
	</div>
	<a class="sign" target="new" href="/sign_up">还没有账号？</a>
	<div class="sign" id="tip" style="display: none">账号或密码错误</div>
	<input id="post" class="card" type="button" value="登&nbsp;&nbsp;&nbsp;录">
</body>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/pengge_tools.js"></script>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/head.js"></script>
<script type="text/javascript" src="http://cdn.nanfeng.hejianpeng.cn/js/sign_in.js"></script>
</html>