<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>注册&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="//cdn.nanfeng.hejianpeng.cn/css/sign.css" type="text/css"/>	
</head>
<body>
	<div class="card" style="margin-top: 16vw">
		<input id="user" type="text" onFocus="pengge.input.check('num',this)" placeholder="请输入手机号" maxlength="11">
	</div>
	<div class="card">
		<input id="NickName" type="text" placeholder="请输入昵称" maxlength="60">
	</div>
	<div class="card">
		<input id="pwd" type="password" placeholder="请输入密码" maxlength="60">
	</div>
	<a class="sign" target="new" href="sign_in">已有账号？</a>
	<div class="sign" id="tip" style="display: none"></div>
	<input id="post" class="card" type="button" value="注&nbsp;&nbsp;&nbsp;册">
</body>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/pengge_tools.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/head.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/sign_up.js"></script>
</html>