<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>我的&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/user.css" type="text/css"/>
</head>
<body>
	<div id="layer" class="card"></div>
	<div class="arc"></div>
	<div id="main">
		<h3>加入<b>南方共享</b></h3>
		<h4>探索<b>未知的世界</b></h4>
		<svg viewBox="0 0 1024 1024">
			<path d="M363.776 551.68a239.104 239.104 0 0 0 297.216-0.512c161.92 82.624 184.512 234.112 189.248 284.544a468.8 468.8 0 0 0 132.416-326.912 470.656 470.656 0 1 0-941.312 0.064c0 127.104 50.624 242.24 132.48 326.912 4.736-48.512 28.672-201.152 189.952-284.096zM512 177.6c102.016 0 184.96 82.944 184.96 184.896S614.016 547.328 512 547.328c-101.952 0-184.896-82.816-184.896-184.832S410.048 177.6 512 177.6z"></path>
		</svg>
	</div>
	<a class="card button" target="new" href="/sign_in">登&nbsp;录</a>
	<a class="card button" target="new" href="/sign_up" style="background-color: #ccc;color: #000">注&nbsp;册</a>
		<a id="powered_by" target="new" href="https://www.zdnfjx.cn" style="top:100vw">Powered by 计算机协会</a>
</body>
<script type="text/javascript" src="/static/js/pengge_tools.js"></script>
<script type="text/javascript" src="/static/js/bar.js"></script>
<script type="text/javascript">
"use strict";
if(pengge.cookie.get("uid")!==null){location.href="/user";}
</script>
</html>
