<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8">
<title>我的&nbsp;-&nbsp;南风共享</title>
<link rel="stylesheet" href="//cdn.nanfeng.hejianpeng.cn/css/main.css" type="text/css"/>	
<link rel="stylesheet" href="//cdn.nanfeng.hejianpeng.cn/css/user.css" type="text/css"/>	
</head>
<body>
	<div id="layer" class="card"></div>
	<div class="arc"></div>
	<div id="main"></div>
	<div id="card"></div>
	<input id="post"  class="card" type="button" value="退出登录">
	<a id="powered_by" target="new" href="https://www.zdnfjx.cn">Powered by 计算机协会</a>
</body>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/pengge_tools.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/bar.js"></script>
<script type="text/javascript" src="//cdn.nanfeng.hejianpeng.cn/js/user.js"></script>
</html>