@charset "utf-8";
    .ui-upload {
      height: 80px;
      width: 80px;
      
      font-size: 14px;
      line-height: 30px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      color: #fff;
      border-radius: 3px;
      border: 0px;
     background-color: #fff;
      background-size: 100% 100%;
      float: left;
    }
    

            *{
                margin: 0;
                padding: 0;
            }
            body{
                background-color: #eeeeee;
            }
            ul{
                list-style-type:none;
            }
            .setPadding{
                width:94%;
                padding-left: 3%;padding-right: 3%
            }

